# Assignment

### question 1

In [2]:
salary=int(input("enter your salary"))
years_of_service=int(input("enter your years of service"))
bonus=salary*0.05
if years_of_service >5:
    print("you get a bonus")
else:
    print("you re not elegible for bonus")

you re not elegible for bonus

## question2

In [3]:
age=int(input("enter your age")) 
if age>17: 
    print("you are elegible") 
else: print("you are not elegible")

you are not elegible

### question 3

In [4]:
number=10
if number %2 ==0:
    print("even")
else:
    print("odd")

even

### question 4

In [5]:
number=int(input("enter your number"))
if number %7==0:
    print("number is divisible by 7")
else:
    print("number is not divisible by 7")

number is not divisible by 7

### question 5

In [6]:
number=int(input("enter your number"))
if number %5==0:
    print("hello world")
else:
    print("bye")

bye

### question 6

In [7]:
units=int(input("enter the number of units"))
if units <= 100:
    bill=0
elif units <=300:
    bill=(units - 100)*5
else:
    bill=(200*5)+(units - 300)*10
    print(f"the total bill amount is Rs.{bill}")

### question 7

In [ ]:
number=int(input("enter a number:"))
last_digit=number %10
print(f"last digit of a number {number} : {last_digit}")

### question 8

In [ ]:
last_digit=number %10
print(f"last digit of a number {number} : {last_digit}")
if last_digit %3==0:
    print("it is divisible by 3")
else:
    print("it is not divisible by 3")

### question 9

In [ ]:
length=int(input("enter value of length"))
breadth=int(input("enter value of breadth"))
if length == breadth:
    print("its a square")
else:
    print("its a rectangle")

### question 10

In [ ]:
value1=int(input("enter the value"))
value2=int(input("enter the value"))
if value1>value2:
    print(f"value1")
if value1<value2:
    print(f"value2")

### question 12

In [ ]:
marks = int(input("enter your marks"))
if marks < 25:
    print ("F")
elif 25 <= marks < 45:
    print ("E")
elif 45 <= marks < 50:
    print("D")
elif 50 <= marks < 60:
    print("C")
elif 60 <= marks < 80:
    print("B")
elif marks >= 80:
    print("A")

### question 13

In [ ]:
age1=int(input('enter age1: '))
age2=int(input('enter age2: '))
age3=int(input('enter age3: '))
if age1>age2 and age1>age3:
    print('age1 is oldest')
elif age2>age1 and age2>age3:
    print('age2 is oldest')
else:
    print('age3 is oldest')
if age1<age2 and age1<age3:
    print('age1 is youngest')
elif age2<age1 and age2<age3:
    print('age2 is youngest')
else:
     print('age3 is youngest')

### question 14

In [ ]:
classes=59
num_of_classes_held=int(input("enter num of classes held"))
num_of_classes_attend=int(input("enter num of classes attend"))
per=num_of_classes_attend/num_of_classes_held*100
print("total per of student is",per,"%")
if per<75:
    print("u will not allow to sit in exam")
else:
    print("u will allow to sit in exam")

### question 17

In [ ]:
age=int(input("enter your age: "))
gender=input("enter your gender( M or F):")
martial_status=input("enter your martial status(Y/N):")
if gender=="F":
    print("she will work only in urban areas")
elif gender=="M":
   if 20>=age<=40:
     print("he can work anywhere")
elif gender=="M":
    if 40>=age<=60:
        print("he can work only in urban  areas")
    else:
        print("error")

### question 16

In [ ]:
year=int(input("enter the year"))
if year%4==0:
    print("it is a leap year")
else:
    print("it is not")

### question 6

In [ ]:
purchase_quantity=int(input("enter quantity"))
cost_of_unit=100
total_cost=purchase_quantity*cost_of_unit
discount_rate=0.1*total_cost
discount=total_cost-discount_rate
if total_cost>100:
    print("you got discount and ur amount is:")
    print(discount)
else:
    print("your total cost is:")
    print(total_cost)

### question 11

In [ ]:
quantity=int(input("enter req quantity"))
cost=100
total_cost=quantity*cost
if total_cost>1000:
    total_cost=total_cost -0.1*total_cost
    print("your total cost is {} with 10% discount".format(total_cost))
else:
    print("your total cost is",total_cost)

### question 15

In [ ]:
medicalcause=input("tell me medical cause(y or N):")
if medicalcause=="y":
    print("u will allow to sit in exam")
else:
    print("you will not allow")